.container{
    height: 700px;
    border: 2px solid #000e7b;
    background-color: #de7d7d;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4,1fr);
  
}

.box{
    border: 1px solid greenyellow;
    background-color: aquamarine;
    /* height: 100px;
    width: 100px; */
}


