body{
    background:#4a4a4a;
    color: #faebd7;
}
p{
     border: 2px solid #b07f40; /*this is the short hand of the border properties */
    /* border-color: #b07f40;
    border-width: 2px;
    border-style: double; 
    this are basically the enlarge form of the border property*/
}
.bordr{
    border-width: 3px;
    border-style: solid dotted double dashed;
    border-color: #00ffff;
    height: 400px;
    width: 600px;
    background-color: #d7ac28;
    color: #a140b0;
    text-align: center;
    
}
.bordr:hover{
    text-decoration-line:underline;
    text-decoration-color: #831d93;

}

