*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width:1440px;
    background-color: #F0F4F5;
    margin: auto;
    overflow:hidden;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: #20BC7E;
}
/* Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
main section{
    width: 50%;
}
.leftsection{
    margin-left: 5%;
    position: relative;
}
.topangle{
    width: 25px;
}

.leftsection h1{
    font-size: 70px;
}
.leftsection p{
    color: #7C7C7C;
    margin: 20px 0;
}
.bottomangle{
    width: 25px;
    position:absolute;
    right: 5px;
}
.stetho{
    position:absolute;
    width:90%;
    top: -60px;
    right: -25px;
    z-index: -1;
}
.mouse{
    position:absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}

.leftsection button{
    color:white;
    background-color: #20BC7E;
    padding: 15px 40px ;
    border-radius: 25px;
    border-style: none;
    font-size: 26px;
}
/* Right main section */
.yellowbox , .greeenbox{
    position: absolute;
    right: 30%;
}
.greeenbox{
    width: 35%;
    bottom: -8px;
    right: 35px;
}
.yellowbox{
    width: 30%;
    bottom: 20px;
    right: 1px;
}
.doctor{
    position: absolute;
    right: 26px;
    bottom: 2px;
    height: 70%;
}