*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5ED;
}
nav{
    padding: 20px 10%;
    height: 10vh;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
   margin-right: 5%;
   font-weight: 500;
}
hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.right-container{
  width: 60%;
  margin-left: 5%; 
}
.left-container h1{
    font-size: 70px;
    margin-bottom: 10px;
}
.left-container p{
    margin-bottom: 15px;
}
.left-container button{
    padding: 15px 20px;
    background-color: #3B855B;
    border-radius: 10px;
    border: none;
    color: #faebd7;
}
.left-container{
    width: 40%;
}
.upperimage{
    margin-bottom: 06px;
    gap: 5px;
}
.left-container button:hover{
    background-color: #faebd7;
    color: #3B855B;
}