.container{
    background-color: #ae7f7f;
    height: 50vh;
    width: 80vh;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; this was for learning purpose */
    grid-template-columns: repeat(6,1fr);
}
.items{
    background-color:#844133;
    margin: 5px;
}