body{
    background-color: #4a4a4a;
}
p{
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #daa520;

}
.pos{
    border: 1px dashed #daa520;
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 7px;
}
#four{
    position: fixed;
    bottom: 10px;
    right: 11px;
    background-color: #daa520;
}
#three:hover{
    position: sticky;
    top: 10px;
}